body{
  background: black;
}

.wd-fixed-borders{
  border-width: thin;
  border-style: solid ;
  border-color: rgb(47,51,54);
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
}

.wd-left-margin-16 {
  margin-left: 16px;
}

.wd-bookmark-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 12px;
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}

.wd-bookmark-handle{
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.wd-bm-container {
  overflow: hidden;
}

.wd-new-border{
  border-width: thin;
  border-style: solid ;
  border-color: rgb(47,51,54);
  border-radius: 1px;
  overflow: hidden;
}

.wd-bm-avatar {
  margin-top: 12px ;
  width: 45px;
  height: 45px;
  float: left;
  border-radius: 50%;
}

.wd-next-to-avatar {
  margin-left: 12px;
  float: left;
}

.wd-margin-top-12{
  margin-top: 12px;
}

.wd-marin-top-0{
  margin-top: 0px;
}
.wd-author-style{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;

}

.wd-flex-container{
  display: flex;
}
.wd-handle-style{
  font-size: 15px;
  color: lightgray;
}

.wd-border-style {
  max-width: 506px;
  margin-right: 16px;
  margin-bottom: 12px;
  margin-top: -25px;
}
.wd-content-style {
  font-size: 15px;
  color: white;
  margin-bottom: 0px;

}

.wd-image-style{
  width: 504px;
  height: 264px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.wd-text-border {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 1px;
  width:478px;
  border-style: solid ;
  border-color: lightgray;
  font-size: 15px;
  padding:12px;
  margin-top:-2px;
}
.wd-text-white{
  color:white;
  margin-top: 12px;
}

.wd-text-lightgray {
  color: lightgray;
}
.wd-below-12 {
  margin-top: 12px;
}

.wd-bot-16 {
  margin-bottom: 16px;
}
.wd-icon-lightgray{
  color:lightgray;
}

.wd-icon-red{
  color:red;
}

.wd-next-icon {
  margin-left: 12px;
  margin-top: 0px;
  color:lightgray;
  font-size: 15px;
}

.wd-width-4{
  width:25%
}